.vscode

*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb

%OUTDIR%
handout

paper/*
!paper/class.tex
!paper/class_biblio.tex
!paper/class.pdf

paper/content
!paper/content/class_*.tex

